* {
  /* outline: 1px solid red; */
  font-family: "Fira Sans", "Gill Sans", "Lucida Grande", "Roboto", sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
}

.site-header {
  background-color: #171717;
  text-align: center;
  padding-top: 20px;
  border-bottom: 20px solid #937E56;
}

.header-logo {
  height: 100px;
  width: 100px;
}

.site-nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
}

.option {
  color: #ffffff;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  flex: 1;
}

.site-main {
  background-color: #E5E9FF;
}

.shapes-container {
  display: flex;
}

.featured-photo-section {
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

.featured-photo-container {
  padding: 5%;
}

.image-container {
  display: flex;
}

.featured-photo {
  width: 75%;
  height: 50%;
  max-width: 550px;
  display: block;
  object-fit: cover;
}

.other-photos img {
  height: 50%;
  width: 100%;
  max-width: 275px;
  display: block;
  object-fit: cover;
}

.shapes-container {
  display: grid;
  padding: 5%;
  grid-template-columns: repeat(4, 5rem);
  grid-template-rows: repeat(5, 5rem);
  grid-gap: 0;
  grid-row-gap: 0;
  overflow: hidden;
}

.shapes-container img {
  margin: 0;
  border: 0;
  padding: 0;
}

.quarter-circle {
  width: 5rem;
  height: 5rem;
}

.blue {
  background-color: #1A235D;
}

.top-left-quarter-circle {
  border-top-left-radius: 100%;
}

.bottom-left-quarter-circle {
  border-bottom-left-radius: 100%;
}

.top-right-quarter-circle {
  border-top-right-radius: 100%;
}

.bottom-right-quarter-circle {
  border-bottom-right-radius: 100%;
}

.blue-right-triangle {
  width: 0;
  height: 0;
  border-top: 5rem solid transparent;
  border-right: 5rem solid #798CF6;
}

.brown-right-triangle {
  width: 0;
  height: 0;
  border-top: 5rem solid transparent;
  border-right: 5rem solid #937E56;
}

.turned-dark-brown-right-triangle {
  width: 0;
  height: 0;
  border-bottom: 5rem solid transparent;
  border-right: 5rem solid #171717;
}

.flipped-brown-right-triangle {
  width: 0;
  height: 0;
  border-top: 5rem solid transparent;
  border-left: 5rem solid #937E56;
}

.flipped-turned-dark-brown-right-triangle {
  width: 0;
  height: 0;
  border-bottom: 5rem solid transparent;
  border-left: 5rem solid #171717;
}

.light-blue {
  background-color: #798CF6;
}

.blue {
  background-color: #1A235D;
}

.brown {
  background-color: #937E56;
}

.dark-brown {
  background-color: #171717;
}

.box {
  width: 5rem;
  height: 5rem;
}

.previous-projects-section {
  background-color: #171717;
  padding: 5%;
  padding-left: 0%;
  padding-right: 0%;
}

.previous-projects-container {
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.previous-projects-label {
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  padding: 5%;
}

.left-shape-section {
  display: grid;
  padding-left: 0%;
  grid-template-columns: repeat(2, 5rem);
  grid-template-rows: repeat(5, 5rem);
}

.right-shape-section {
  display: grid;
  padding-right: 0%;
  grid-template-columns: repeat(3, 5rem);
  grid-template-rows: repeat(5, 5rem);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.projects figure img {
  width: auto;
  height: 300px;
}

.project {
  text-align: center;
  align-items: center;
  flex: 1;
  padding: 2.5%;
}

.project p {
  width: 100%;
  font-size: 1em;
  text-wrap: wrap;
  color: #ffffff;
  font-style: italic;
  font-weight: lighter;
}

figcaption {
  color: #ffffff;
  font-size: 20px;
  font-weight: bolder;
  padding-top: 2.5%;
}

.skills-and-autobiography-section {
  padding-top: 5%;
  padding-bottom: 5%;
}

.skills-and-autobiography {
  display: flex;
  justify-content: space-around;
  align-items: top;
}

.skills-label {
  padding: 2.5%;
  padding-left: 0%;
  font-size: 1.5em;
}

.autobiography-label {
  padding: 2.5%;
  padding-left: 0%;
  font-size: 1.5em;
}

.skills {
  margin: 5%;
  color: #ffffff;
  font-size: 1.0em;
  text-align: left;
  flex: 1;
}

.autobiography {
  margin: 5%;
  color: #ffffff;
  font-size: 1.0em;
  text-align: justify;
  flex: 1;
}

.lines-1 {
  display: flex;
  height: 10px;
}

.lines-1 div {
  /* background-color: #937E56; */
  height: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.line-1 {
  width: 40%;
  margin-left: 0%;
}

.line-2 {
  width: 20%;
}

.line-3 {
  width: 30%;
}

.line-4 {
  width: 5%;
  margin-right: 0%;
}

.lines-2 {
  display: flex;
  height: 10px;
}

.lines-2 div {
  background-color: #937E56;
  height: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.line-1-2 {
  width: 20%;
  margin-left: 0%;
}

.line-2-2 {
  width: 40%;
}

.line-3-2 {
  width: 10%;
}

.line-4-2 {
  width: 20%;
  margin-right: 0%;
}

.site-footer {
  display: flex;
  border-top: 20px solid #937E56;
  background-color: #171717;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-logo {
  width: 200px;
  height: 200px;
}

.footer-contents {
  color: #FFFFFF;
}

.footer-contents p {
  margin: 10px;
}

.website-url {
  font-size: 40px;
  font-weight: bolder;
}

a {
  text-decoration: none;
  margin: 10px;
}